.login {
    height: 100vh;
}

.loginLogo {
    width: 10vw;
    float: right;
    background-color: #343a40;
    border-radius: 50%;
}

.loginData img {
    width: 40%;
    float: left;
    margin: auto;
    margin-left: 5vw;
    top: 20%;
    position: absolute;
}

.loginForm {
    float: right;
    width: 54%;
    height: 100vh;
    background-color: #e55137;
    /* top: 50%; */
    /* margin: auto; */
}

.everyLogin{
    position: relative;
    /* top: 50%; */
    text-align: center;
}

.loginForm form{
    display: inline-grid;
    justify-items: stretch;
}

.loginForm h1, span, form{
    margin: auto;
}